body {
  font-size: clamp(15px, 2vw, 5px);
  margin-left: 75px;
} 

#journal{
	font-family: "Courier New";
    padding: 3rem;
}

.header{

}
.desc{

}

.entry{
	max-width: 700;
    padding: 1rem;
}

.limb:hover{
	color: #ffa07a;
}
.limb:visited{
	color: #ffa07a;
}

