body {
  font-size: clamp(15px, 2vw, 5px);
  margin-left: 75px;
} 

#journal{
	font-family: "Courier New";
    padding: 3rem;
}

.header{

}
.desc{

}

.entry{
	max-width: 700;
    padding: 1rem;
}
.limb:{}
.limb:hover{
	color: #ffa07a;
	font-weight: bolder;
}
.car{}
.car:hover{
	color:#DC143C;
	font-weight: bolder;
}
.man{}
.man:hover{
	color:#bdb76b;
	font-weight: bolder;
}
.happy{}
.happy:hover{
	color:#ffd700;
	font-weight: bolder;
}


